.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  margin: 5% 5%;
  background: #FBF3EE;
  height: 80vh;
  border-radius: 50px;
}
