.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 3% 3%;
  background: #FBF3EE;
  height: 80vh;
  border-radius: 50px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  box-shadow: 8px 9px 1px #595045,
              12px 15px 5px #938673;
}
