.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 3% 3%;
  background: #FBF3EE;
  height: 80vh;
  border-radius: 50px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}
