.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
}

.favorites-link,
.landing-page-link {
  font-family: 'Yeseva One', cursive;
  text-decoration: none;
  color: black;
  font-size: xx-large;
}

.logo-link {
  width: 20%;

}

.logo {
  width: 100%;
}
